# Environment
.env

# Go
backend/tmp/
backend/vendor/
backend/api/docs/

# Node
node_modules/
frontend/node_modules/
e2e/node_modules/
frontend/.svelte-kit/
frontend/build/

# Playwright
e2e/playwright-report/
e2e/test-results/

# OS
.DS_Store
